* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#server-container {
	flex: 0 0 72px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 0px;
}

#channels-container {
	flex: 0 0 240px;
	background-color: var(--vscode-sideBar-background);
	padding: 12px;
	overflow: hidden;
}

#chat-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 8 0 auto;
	padding: 20px;
}

#message-list {
	height: 100%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch;
}

#input-field-container {
	width: 100%;
	flex-grow: 0;
	flex-shrink: 0;
}

#message-input {
	width: 100%;
	height: 44px;
	background-color: var(--vscode-input-background);
	border-radius: 8px;
	border: 2px solid var(--vscode-button-secondaryBackground);
	outline: none;
	padding-left: 20px;
	color: var(--vscode-input-foreground);
	transition: 0.25s ease-out;
}

#message-input:hover {
	border-color: var(--vscode-button-secondaryHoverBackground);
}

#message-input:focus {
	border-color: var(--vscode-button-background);
	transition: 0.25s ease-out;
}

.message-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	/* padding-bottom: 10px; */
}

.message-avatar-container {
	height: 38px;
	width: 38px;
	position: relative;
}

.message-data-container {
	flex: 1 1;
	padding-left: 8px;
}

.message-info-row {
	line-height: 20px;
}

.message-avatar-img {
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 0;
}

.message-content-row {
	line-height: 20px;
}

.message-info-author {
	font-weight: 600;
	padding-right: 3px;
}

.message-info-timestamp {
	font-size: smaller;
	color: var(--vscode-titleBar-inactiveForeground);
}

#message-list-tail {
	height: 20px;
	flex-grow: 0;
	flex-shrink: 0;
}

#channels-header {
	height: 25px;
}

.channel-container {
	border-radius: 3px;
	margin-bottom: 6px;
	padding: 5px 10px;
	position: relative;
	color: var(--vscode-debugIcon-breakpointDisabledForeground);
}

.channel-container-active,
.channel-container:hover {
	color: var(--vscode-editor-foreground);
	background-color: var(--vscode-editor-selectionBackground);
}

.guild-container {
	position: relative;
	height: 48px;
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--vscode-sideBar-dropBackground);
	transition: 0.25s ease-out;
	overflow: hidden;
	margin-bottom: 8px;
}

.guild-active,
.guild-container:hover {
	border-radius: 30%;
}

.guild-name-text {
	position: absolute;
	font-size: 20px;
	line-height: 20px;
	vertical-align: middle;
}

#message-scroll-wrapper {
	flex: 1 1;
	overflow: hidden;
}

.message-attachment-image {
	border-radius: 5px;
	margin-top: 8px;
}

.channel-container-notification {
	color: var(--vscode-editor-foreground);
}

.channel-notification-dot {
	background-color: var(--vscode-minimap-errorHighlight);
	border-radius: 50%;
	position: absolute; 
	left: 0;
	top: calc(50% - 6px);
	transform: translate(calc(-50% - 12px), 0%); 
	height: 12px; 
	width: 12px; 
}

.guild-notification-dot {
	background-color: var(--vscode-minimap-errorHighlight);
	border-radius: 50%;
	position: absolute; 
	left: 0;
	top: calc(50% - 6px);
	transform: translate(-50%, 0%); 
	height: 12px; 
	width: 12px; 
}