<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Flare </title>
    <link rel="stylesheet" href="{{views_path}}/index.css">
</head>

<body>
    <div id="server-container">

    </div>
    <div id="channels-container">
        <span id="channels-header">
            TEXT CHANNELS
        </span>
    </div>
    <div id="chat-container">
        <div id="message-scroll-wrapper">
            <div id="message-list">
                <div id='message-list-tail'></div>
            </div>
        </div>
        <div id="input-field-container">
            <input id="message-input" placeholder="Run !link inside the server you want to receive updates for!">
        </div>
    </div>


    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="{{base_url}}/socket.io/socket.io.js"></script>
    <script>
        var sessionID = '{{sessionID}}';
        var socket = io('{{base_url}}', { auth: { sessionID } });
    </script>
    <script src="{{views_path}}/index.js"></script>
</body>

</html>